@import "_navbar";
@import "_buttons";

html{
	height:100%;
}

body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:roboto;
}

h1{
	font-size:3em;
}

#main{
	.container{
		height:50%;

		.row{
			height:100%;

			#estou-mal{
				height:100%;
			}
		}
	}
}

#content{
	display: block;
	height:100%;
}

#alarm{
	.row{
		height:100% !important;
		.col-xs-12{
			height:50%;
		}
	}
}

.content{
	height:100%;
}

.container{
	padding-top:60px;
	height: 100%;
}