<div class="container">
    <h1 class="text-center">Configuração de Alarme</h1>
    <ul class="list-unstyled">
        <li>
            <label>Início</label>
            <input placeholder="Início dos alarmes" type="time" id="hora-inicial" class="form-control">
        </li>
        <li>
            <label>Término</label>
            <input placeholder="Final dos alarmes " type="time" id="hora-final" class="form-control">
        </li>
        <li>
            <label>Intervalo</label>
            <input placeholder="Intervalo em horas" type="number" id="repeticoes" class="form-control">
        </li>
    </ul>

    <div class="row text-center">
        <a href="#main" class="btn btn-success text-center" id="btn-salvar-config">Salvar</a>
    </div>
</div>
