<div class="container">
    <div class="row text-center">
        <img src="http://dummyimage.com/150x150&text=PEOPLE" class="img-circle">
    </div>

    <div class="row">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Seu Nome completo">
        <label>Sexo</label>
        <input type="text" class="form-control" placeholder="Masculino ou Feminino">
        <label>Data Nascimento</label>
        <input type="text" class="form-control" placeholder="Data de Nascimento">
        <label>Característica</label>
        <input type="text" class="form-control" placeholder="O que é marcante em você?">
        <label>Tipo Sanguíneo</label>
        <input type="text" class="form-control" placeholder="A? B? Qual seu tipo sanguíneo?">
    </div>
        <br>
    <div class="row text-center">
        <button class="btn btn-success">Salvar</button>
    </div>
</div>
